.Button{
    border: none;
    background-color: darkcyan;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: medium;
    padding: 10px 30px 10px 30px;
    margin: 5px;
    border-radius: 100px;

    
}

.Button:hover{
    animation: ripple 0.7s;
    cursor: pointer;
}

@keyframes ripple {
    10% {
      opacity: 0.5;
      transform: rotate(1deg);
    }
    40% {
      opacity: 0.8;
      transform: rotate(3deg);
      padding: 10px 50px 10px 50px;
    }
    80% {
      opacity: 1;
      transform: rotate(1deg);
      transform: translate(2px,-5px);
    }
  }


