.Header{
    height: auto;
    width: auto;
    margin: 2%;
    padding: 5%;
    background-color: aliceblue;
    color: black;
    text-align: center;
    transition: 0.5s ease-in-out;
    border-radius: 12px;
}
.Title{
    font-size: 20px;
    transition: 0.1s ease-in-out;
}
.Title:hover{
    font-size: 32px;
}

